<!DOCTYPE html>
<html lang="en">
  <html><body style='margin: 0; padding: 0;'><table align='center'  cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; border-radius: 2px; border-bottom: 5px;border-color: chartreuse; '>
     <tr>  <td  align='left'  bgcolor='#f5f5f5'  style='padding: 20px 0px 15px 50px;'> Dear, "+userName.get(i)
     </td> </tr>
    <tr style='border-bottom: 5px ; border-color: white; '>  <td align='left' bgcolor='#f5f5f5' style= 'border-bottom: 5px; border-color: white; text-align: justify; padding: 20px 0px 15px 50px '> you are successfully registered.
     Your new Nidos account has been created. Welcome to the NIDOS community.<br>
      From now on, please log in to your account using your username and password.
       </td> </tr>
      </table>
     <div style="margin-top: 10px;">
    <table cellpadding='0' cellspacing='0'  width='30%' style='border-top: 5px; border-color: yellowgreen;'>
     <tr style='border-bottom: 5px; border-color: white; '><td align='right' bgcolor='#f5f5f5' style='padding: 20px 0 15px 0'> Username :</td><td align='left' bgcolor='#f5f5f5' style='padding: 20px 0 15px 15px'>abcd</td></tr>
     <tr><td align='right' bgcolor='#ffffff' style='padding: 20px 0 15px 0'> Password :</td><td align='left' bgcolor='#ffffff' style='padding: 20px 0 15px 15px'>1234</td></tr>
     <tr><td align='right' bgcolor='#f5f5f5' style='padding: 20px 0 15px 0'> Hostel Name :</td><td align='left' bgcolor='#f5f5f5' style='padding: 20px 0 15px 15px'>Nest</td></tr>
     <tr><td align='right' bgcolor='#f5f5f5' style='padding: 20px 0 15px 0'>  Floor Id :</td><td align='left' bgcolor='#f5f5f5' style='padding: 20px 0 15px 15px'>001</td></tr>
     <tr><td align='right' bgcolor='#ffffff' style='padding: 20px 0 15px 0'>  Room No :</td><td align='left' bgcolor='#ffffff' style='padding: 20px 0 15px 15px'>101</td></tr>
    <tr><td align='right' bgcolor='#ffffff' style='padding: 20px 0 15px 0'>  Room Rent (Rs.)  :</td><td align='left' bgcolor='#ffffff' style='padding: 20px 0 15px 15px'><input type='button' style="border-radius: 10% 10% 10% 10%;" value=' 10000' name='Rent'></td></tr>
    </table>
  </div>

  <div >
    <table align='center'  cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; border-radius: 2px; border-bottom: 5px;border-color: chartreuse; '>
    <tr><td align='left'  bgcolor='#f5f5f5'  style='padding: 20px 0px 15px 50px;'>Thank You</td></tr> 
  </table>
  </div>
     </body></html>